# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sln
*.db
*.vcxproj
*.opendb
*.filters
/Battleship/Debug
/Battleship/TestFiles
/mine
/Battleship/dirFiles.txt
/Battleship/src/clean_movesA.attack-a
/Battleship/src/good_board_0.sboard
/Battleship/src/clean_movesB.attack-b
*.suo
*.ilk
*.pdb
/LocalBattleship/
/Ex2/Ex2
*.attack
*.sboard
*.tlog
*.idb
*.iobj
*.exp
*.ipdb
*.txt
