# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sln
*.db
*.vcxproj
*.opendb
*.filters
/Battleship/Debug
/Battleship/TestFiles
/LocalBattleShip/LocalBattleShip.opensdf
/LocalBattleShip/LocalBattleShip.v12.suo
/mine/mine
/Battleship/dirFiles.txt
/Battleship/src/clean_movesA.attack-a
/Battleship/src/good_board_0.sboard
/Battleship/src/clean_movesB.attack-b
*.suo
*.ilk
*.pdb
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/LocalBattleship.lastbuildstate
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/link.write.1.tlog
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/link.read.1.tlog
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/link.command.1.tlog
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/CL.write.1.tlog
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/CL.read.1.tlog
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/CL.command.1.tlog
/LocalBattleship/LocalBattleship/Debug/vc140.idb
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.log
/LocalBattleship/LocalBattleship/LocalBattleship.vcxproj.user
/LocalBattleship/LocalBattleship/dirFiles.txt
/LocalBattleship/LocalBattleship/Debug/LocalBattleship.tlog/unsuccessfulbuild
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/LocalBattleship.lastbuildstate
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/link.write.1.tlog
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/link.read.1.tlog
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/link.command.1.tlog
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/CL.write.1.tlog
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/CL.read.1.tlog
/LocalBattleship/LocalBattleship/Release/LocalBattleship.tlog/CL.command.1.tlog
/LocalBattleship/LocalBattleship/Release/LocalBattleship.log
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/LocalBattleship.lastbuildstate
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/link.write.1.tlog
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/link.read.1.tlog
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/link.command.1.tlog
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/CL.write.1.tlog
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/CL.read.1.tlog
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.tlog/CL.command.1.tlog
/LocalBattleship/LocalBattleship/x64/Debug/vc140.idb
/LocalBattleship/LocalBattleship/x64/Debug/LocalBattleship.log
/LocalBattleship/LocalBattleship/x64/Debug/coordqueue.obj.enc
/LocalBattleship/LocalBattleship/x64/Debug/coordqueue.new.obj.enc
/LocalBattleship/Release/LocalBattleship.ipdb
/LocalBattleship/Release/LocalBattleship.iobj
